<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    tools:node="strict">
    <!--
    If the build is intended to be Google Play-updateable, the package name
    should be the same as for Google Play (name depends on Beta or Stable).
    Otherwise, if the build is not intended to be Google Play-updateable (e.g.,
    updateable via an alternative appstore update mechanism), the package name
    should be specific to the update mechanism channel.
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <!-- For notifications, e.g. User account notices, etc. -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- For being able to receive notifications upon boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- For being able to post notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--
    List of hardware features that are implicitly used, but not required. These need to be
    declared as optional, so that the app can be installed on devices that don't have them.
    -->
    <uses-feature android:name="android.hardware.wifi" android:required="false"  />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <!-- For keeping the device awake while performing background tasks, such as syncing offline articles. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:icon="@mipmap/launcher"
        android:label="@string/anywiki_app_name"
        android:name="org.wikipedia.WikipediaApp"
        android:theme="@style/AppTheme">

        <!-- Multi-window support on Samsung devices -->
        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow" />
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />

        <!--
        The following is used for determining the distribution channel.
        Set "value" to "Google Play" for Google Play Store.
        -->
        <meta-data android:name="@string/preference_key_app_channel" android:value="@string/channel" />

        <!-- Opt out of metrics collection for the System WebView. -->
        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />

        <!-- Necessary for Google Pay API -->
        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />

        <activity
            android:name="org.wikipedia.anywiki.AnyWikiReaderActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.Splash"
            android:label="@string/anywiki_app_name"
            android:exported="true" />
        <activity
            android:name="org.wikipedia.main.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.Splash"
            android:exported="true" />
        <activity-alias
            android:name=".DefaultIcon"
            android:targetActivity="org.wikipedia.anywiki.AnyWikiReaderActivity"
            android:icon="@mipmap/launcher"
            android:label="@string/anywiki_app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".YIR25Icon"
            android:targetActivity="org.wikipedia.anywiki.AnyWikiReaderActivity"
            android:icon="@mipmap/launcher_yir25"
            android:label="@string/anywiki_app_name"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="org.wikipedia.page.PageActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:parentActivityName="org.wikipedia.main.MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.wikipedia.main.MainActivity" />
            <intent-filter
                tools:targetApi="m"
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- the following lines are merged
                     https://developer.android.com/training/app-links/deep-linking.html
                     so http and https apply to all prefixes-->
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*.wikipedia.org" android:pathPrefix="/wiki/" />
                <data android:host="*.wikipedia.org" android:pathPattern="/zh.*" />
                <data android:host="*.wikipedia.org" android:pathPattern="/sr.*" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.wikipedia.settings.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name="org.wikipedia.settings.dev.DeveloperSettingsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name="org.wikipedia.settings.NotificationSettingsActivity" />
        <activity android:name="org.wikipedia.settings.languages.WikipediaLanguagesActivity"
            android:label="@string/wikipedia_languages_title"/>
        <activity android:name="org.wikipedia.language.LangLinksActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"/>
        <activity
            android:name="org.wikipedia.language.addlanguages.AddLanguagesListActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"/>
        <activity
            android:name="org.wikipedia.suggestededits.SuggestionsActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="org.wikipedia.suggestededits.SuggestedEditsTasksActivity"
            android:theme="@style/AppTheme.ActionBar"
            android:label="@string/suggested_edits_activity_title" />
        <activity
            android:name="org.wikipedia.edit.EditSectionActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name="org.wikipedia.login.LoginActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name="org.wikipedia.createaccount.CreateAccountActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name="org.wikipedia.login.ResetPasswordActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name="org.wikipedia.gallery.GalleryActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name="org.wikipedia.settings.LicenseActivity"/>

        <activity
            android:name="org.wikipedia.feed.news.NewsActivity"
            android:label="@string/view_card_news_title"/>

        <activity
            android:name="org.wikipedia.descriptions.DescriptionEditActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="org.wikipedia.search.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.Splash"
            android:exported="true">
            <intent-filter android:label="@string/search_hint">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/search_hint">
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.wikipedia.descriptions.DescriptionEditSuccessActivity"
            android:theme="@style/AppTheme.FullScreen.Translucent"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="org.wikipedia.descriptions.DescriptionEditTutorialActivity" />

        <activity
            android:name="org.wikipedia.readinglist.ReadingListActivity" />

        <activity
            android:name="org.wikipedia.onboarding.InitialOnboardingActivity"/>

        <activity
            android:name="org.wikipedia.feed.topread.TopReadArticlesActivity"
            android:theme="@style/AppTheme.ActionBar"/>

        <activity android:name="org.wikipedia.feed.onthisday.OnThisDayActivity"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="org.wikipedia.feed.configure.ConfigureActivity"
            android:label="@string/feed_configure_activity_title"/>

        <activity android:name="org.wikipedia.random.RandomActivity"
            android:label="@string/view_random_card_title"
            android:theme="@style/AppTheme.ActionBar"/>

        <activity android:name="org.wikipedia.theme.ThemeFittingRoomActivity"
            android:label="@string/preference_title_app_theme"
            android:theme="@style/AppTheme.ActionBar"/>

        <activity
            android:name="org.wikipedia.notifications.NotificationActivity"
            android:label="@string/notifications_activity_title"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity
            android:name="org.wikipedia.page.tabs.TabActivity"
            android:label="@string/tabs_activity_title" />

        <activity
            android:name="org.wikipedia.categories.CategoryActivity" />

        <activity android:name="org.wikipedia.suggestededits.SuggestedEditsImageTagsOnboardingActivity" />

        <activity android:name="org.wikipedia.suggestededits.SuggestedEditsImageRecsOnboardingActivity" />

        <activity android:name="org.wikipedia.suggestededits.SuggestedEditsRecentEditsOnboardingActivity" />

        <activity
            android:name="org.wikipedia.watchlist.WatchlistActivity"
            android:label="@string/watchlist_title"
            android:theme="@style/AppTheme.ActionBar"/>

        <activity
            android:name="org.wikipedia.watchlist.WatchlistFilterActivity"
            android:label="@string/watchlist_filter_title"
            android:theme="@style/AppTheme.ActionBar"/>

        <activity
            android:name="org.wikipedia.suggestededits.SuggestedEditsImageTagEditActivity"
            android:theme="@style/AppTheme.ActionBar" />

        <activity
            android:name="org.wikipedia.suggestededits.SuggestedEditsRecentEditsActivity"/>

        <activity
            android:name="org.wikipedia.suggestededits.SuggestedEditsRecentEditsFilterActivity"
            android:label="@string/patroller_tasks_filters_title"
            android:theme="@style/AppTheme.ActionBar"/>

        <activity
            android:name="org.wikipedia.commons.FilePageActivity"
            android:label=""
            android:theme="@style/AppTheme"/>

        <activity
            android:name="org.wikipedia.talk.TalkTopicsActivity"
            android:label="" />

        <activity
            android:name="org.wikipedia.talk.TalkTopicActivity" />

        <activity
            android:name="org.wikipedia.talk.TalkReplyActivity"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name="org.wikipedia.talk.ArchivedTalkPagesActivity" />

        <activity
            android:name="org.wikipedia.diff.ArticleEditDetailsActivity" />

        <activity
            android:name="org.wikipedia.activity.SingleWebViewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />

        <activity
            android:name="org.wikipedia.page.customize.CustomizeToolbarActivity"
            android:label="@string/customize_toolbar_title"
            android:theme="@style/AppTheme.ActionBar"/>

        <activity
            android:name="org.wikipedia.notifications.NotificationFilterActivity"
            android:label="@string/notifications_filter_label"
            android:theme="@style/AppTheme.ActionBar"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity
            android:name="org.wikipedia.page.edithistory.EditHistoryListActivity" />

        <activity
            android:name="org.wikipedia.usercontrib.UserContribListActivity" />

        <activity
            android:name="org.wikipedia.usercontrib.UserContribFilterActivity"
            android:label="@string/user_contrib_filter_activity_title"
            android:theme="@style/AppTheme.ActionBar" />
            
        <activity
            android:name="org.wikipedia.edit.insertmedia.InsertMediaActivity"
            android:label="@string/insert_media_title"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity
            android:name="org.wikipedia.edit.templates.TemplatesSearchActivity"
            android:label="@string/templates_search_hint"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />

        <activity
            android:name="org.wikipedia.places.PlacesActivity" />

        <activity
            android:name="org.wikipedia.places.PlacesFilterActivity"/>

        <activity
            android:name="org.wikipedia.talk.template.TalkTemplatesActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="org.wikipedia.donate.GooglePayActivity"/>

        <activity
            android:name="org.wikipedia.settings.AboutActivity"/>

        <activity
            android:name="org.wikipedia.games.onthisday.OnThisDayGameActivity"/>

        <activity
            android:name="org.wikipedia.games.GamesHubActivity"/>

        <activity
            android:name="org.wikipedia.readinglist.recommended.RecommendedReadingListOnboardingActivity"/>

        <activity
            android:name="org.wikipedia.settings.dev.playground.CategoryDeveloperPlayGround"/>

        <activity
            android:name="org.wikipedia.yearinreview.YearInReviewOnboardingActivity"/>

        <activity
            android:name="org.wikipedia.yearinreview.YearInReviewActivity"/>
      
        <activity
            android:name="org.wikipedia.readinglist.recommended.RecommendedReadingListSettingsActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="org.wikipedia.activitytab.ActivityTabCustomizationActivity" />

        <activity
            android:name="org.wikipedia.activitytab.ActivityTabOnboardingActivity" />

        <activity
            android:name="org.wikipedia.search.HybridSearchOnboardingActivity" />

        <activity
            android:name="org.wikipedia.donate.donationreminder.DonationReminderActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name="org.wikipedia.widgets.readingchallenge.ReadingChallengeOnboardingActivity" />

        <provider
            android:name="org.wikipedia.WikipediaFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:icon="@mipmap/launcher"
            android:label="@string/widget_name_search"
            android:name="org.wikipedia.widgets.WidgetProviderSearch"
            android:exported="true">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_search" />
        </receiver>

        <receiver
            android:icon="@mipmap/launcher"
            android:label="@string/widget_name_featured_page"
            android:name="org.wikipedia.widgets.WidgetProviderFeaturedPage"
            android:exported="true">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_featured_page" />
        </receiver>

        <receiver
            android:label="@string/reading_challenge_widget_name"
            android:name="org.wikipedia.widgets.readingchallenge.ReadingChallengeWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/reading_challenge_widget_info"/>
        </receiver>

        <receiver android:name="org.wikipedia.notifications.NotificationPollBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="action_notification_poll" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.wikipedia.auth.AuthenticatorService"
            android:exported="false">

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/wikimedia_authenticator" />

        </service>

        <receiver android:name="org.wikipedia.savedpages.SavedPageSyncNotification" />

        <service
            android:name="org.wikipedia.push.WikipediaFirebaseMessagingService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>
</manifest>

